#scoreboard {
    position: relative;
    height: 152px;
}
#scoreboard .score-range {
    float: left;
    position: absolute;
    top: 28px;
    display: none;
}
#scoreboard #range-red {
    left: -30px;
}
#scoreboard #range-yellow {
    right: -30px;
}
.scorecard {
    width: 80px;
    padding: 5px;
    line-height: 0;
}
.sc-d {
    position: relative;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 2px 2px 0;
    opacity: 0;
    background: #000;
    -webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    -ms-box-shadow: 0 0 10px #888;
    -o-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}
.score-input {
    background-color: #eee;
    border: 3px solid #ccc;
    color: #666;
    font-size: 42px;
    height: 40px;
    padding: 5px;
    text-align: center;
    width: 70px;
}
.score-delimiter {
    font-size: 50px;
    margin-top: -15px;
    display: inline-block;
}

/* create */
#matchmaking-table {
    background: url("/static/img/matchmaking/table_standalone.png") repeat scroll 0 0 transparent;
    height: 516px;
    width: 290px;
    margin: 0 auto;
    opacity: 0.07;
}

#matchmaking #table-area {
    position: relative;
    margin-top: 20px;
}

#mm-controls {
    text-align: center;
}

#table-area #table-content {
    /*background: none repeat scroll 0 0 #3C3E45;
    border: 1px solid #222;
    box-shadow: 1px 0 70px 20px #000000 inset;*/
    color: #EEEEEE;
    font-size: 20px;
    font-weight: bold;
    height: 418px;
    left: 334px;
    opacity: 0.96;
    padding: 4px 20px;
    position: absolute;
    top: 43px;
    width: 224px;
    display: none;
}

#matchmaking {
    position: relative;
}
#matchmaking .team-spot {
    position: absolute;
}
#matchmaking #team-red-goal.team-spot {
    top: 15px;
    left: 40px;
}
#matchmaking #team-red-offense.team-spot {
    top: 275px;
    left: 40px;
}
#matchmaking #team-yellow-goal.team-spot {
    top: 275px;
    right: 40px;
}
#matchmaking #team-yellow-offense.team-spot {
    top: 15px;
    right: 40px;
}
#matchmaking .avatar.big {
    height: 185px;
    width: 155px;
}

/* 1on1s */
#matchmaking.type-1on1 #team-red-goal.team-spot,
#matchmaking.type-1on1 #team-yellow-goal.team-spot {
    top: 145px;
}

/* PLAYER CONTAINER ANIMATION */
.team-container .panel {
    position: relative;
    perspective: 1000;
    width: 159px;
    height: 226px;
}

.team-container .panel .front {
    z-index: 900;
    margin-top: 75px;

    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -moz-backface-visibility: hidden; /* --transition is the magic sauce for animation --*/

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.team-container .panel.flip .front {
    z-index: 900;
    position: absolute;

    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.team-container .panel .back {
    z-index: 800;

    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -moz-backface-visibility: hidden; /* --transition is the magic sauce for animation --*/

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.team-container .panel.flip .back {
    z-index: 1000;

    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
}

/* /PLAYER CONTAINER ANIMATION */

#matchmaking .mm-player {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(244,244,244,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* W3C */
    height: 50px;
    margin-right: 10px;
    width: 250px;
    color: #000000;
    cursor: default;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px 2px;
    border-radius: 2px 2px 2px 2px;
    border-bottom: 0;
    box-shadow: 0 1px 0 #AAAAAA;
    margin: 0 25px;
    padding: 3px 3px 5px;
    position: relative;
    vertical-align: top;
}
#matchmaking .mm-player:hover {
    border-color: #BBBBBB;
    border-style: solid;
    border-width: 1px 2px;
    box-shadow: 0 0 4px #999999;
    opacity: 1;
    height: 49px;
}
#matchmaking .mm-player .player-mm-status {
    color: #999;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    right: 3px;
    top: 11px;
}
#matchmaking .mm-player .player-mm-status > button {
    min-width: 0;
    background: #52b152;
    background: -moz-linear-gradient(top, #52b152 0%, #008a00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52b152), color-stop(100%,#008a00));
    background: -webkit-linear-gradient(top, #52b152 0%,#008a00 100%);
    background: -o-linear-gradient(top, #52b152 0%,#008a00 100%);
    background: -ms-linear-gradient(top, #52b152 0%,#008a00 100%);
    background: linear-gradient(top, #52b152 0%,#008a00 100%);
    font-size: 14px;
    color: #fff;
}
#matchmaking .mm-player .player-mm-status > button.deactive {
    background: #cccccc;
    background: -moz-linear-gradient(top, #cccccc 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#eeeeee));
    background: -webkit-linear-gradient(top, #cccccc 0%,#eeeeee 100%);
    background: -o-linear-gradient(top, #cccccc 0%,#eeeeee 100%);
    background: -ms-linear-gradient(top, #cccccc 0%,#eeeeee 100%);
    background: linear-gradient(top, #cccccc 0%,#eeeeee 100%);
    text-shadow: none;
    text-shadow: 1px 2px 0 #CCCCCC;
}
#matchmaking .mm-player .avatar {
    height: 48px;
    width: 40px;
    float: left;
}
#matchmaking .mm-player .mm-player-credentials {
    font-size: 13px;
    overflow: hidden;
    padding: 13px 4px 4px 7px;
}
#matchmaking .mm-player-stats {
    color: #999;
    font-size: 12px;
}

/* MATCHMAKING - OVERVIEW */
div#currentMatch div.detailTable {
    margin-top: 57px;
    position: relative;
    float: left;
    width: 256px;
}
div#currentMatch.type-1on1 div.detailTable {
	margin-top: 30px;
	margin-bottom: 25px;
}
div.cm-ops-control-back {
    display: none;
}
div#currentMatch div.m-info {
    position: absolute;
    top: -40px;
    left: 27px;
    background: #444;
    border-radius: 6px 6px 6px 6px;
    color: #EEEEEE;
    display: inline-block;
    font-size: 18px;
    padding: 4px 8px;
}
div#currentMatch div.m-info.nod {
    color: #444444;
    font-size: 48px;

    padding: 0 6px 6px 6px;
    margin: 4px auto 0;
    width: 60px;
    cursor: default;
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 6px -2px #666666;
    text-align: center;

    background: rgb(244,244,244);
    background: -moz-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(229,229,229,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(100%,rgba(229,229,229,1)));
    background: -webkit-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(229,229,229,1) 100%);
    background: -o-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(229,229,229,1) 100%);
    background: -ms-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(229,229,229,1) 100%);
    background: linear-gradient(top, rgba(244,244,244,1) 0%,rgba(229,229,229,1) 100%);
}
div#currentMatch .team-container {
    width: 339px;
    padding-top: 10px;
}
div#currentMatch .team-container.team-red {
    float: left;
}
div#currentMatch .team-container.team-yellow {
    float: right;
}
div#currentMatch .team-container .playerContainer .playerCredentials {
    font-size: 26px;
    line-height: 30px;
}
div#currentMatch .team-container.team-red .playerContainer .playerCredentials {
    float: left;
    text-align: left;
    padding: 3px 0 25px 15px;
}
div#currentMatch .team-container.team-yellow .playerContainer .playerCredentials {
    float: right;
    text-align: right;   
    padding: 3px 15px 25px 0;
}
div#currentMatch .team-container.team-red .playerContainer .playerCredentials > a {
    border-left: 5px solid #CC0033;
    display: inline-block;
    padding-left: 8px;
}
div#currentMatch .team-container.team-yellow .playerContainer .playerCredentials > a {
    border-right: 5px solid #E2D61D;
    display: inline-block;
    padding-right: 8px;
}
div#currentMatch.type-1on1 .team-container {
    margin-top: 50px;
}

div.upcomingMatchItem {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 10px;
    padding-bottom: 3px;
}
div.upcomingMatchItem.last {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
div.upcomingMatchItem .team-container {
    width: 367px;
    float: left;
    line-height: 26px;
    text-align: center;
}
div.upcomingMatchItem .team-container.team-red {
    text-align: right;
}
div.upcomingMatchItem .team-container.team-yellow {
    text-align: left;
}
div.upcomingMatchItem .team-container .player-information {
    line-height: 20px;
}
div.upcomingMatchItem .team-container.team-red .player-information {
    padding-right: 5px;
}
div.upcomingMatchItem .team-container.team-red .player-information .position {
    margin-right: 0;
}
div.upcomingMatchItem .team-container.team-yellow .player-information {
    padding-left: 5px;
}
div.upcomingMatchItem .team-container.team-yellow .player-information .position {
    margin-left: 0;
}
div.upcomingMatchItem .versusContainer {
    width: 200px;
    float: left;
    text-align: center;
    font-size: 19px;
    height: 35px;

}
div.upcomingMatchItem .versusContainer .score {
    color: #444444;
    font-size: 30px;

    padding: 0 6px 6px 6px;
    margin: 4px auto 0;
    width: 60px;
    position: relative;
    cursor: default;
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 6px -2px #666666;
    text-align: center;

    background: rgb(244,244,244);
    background: -moz-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(229,229,229,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(100%,rgba(229,229,229,1)));
    background: -webkit-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(229,229,229,1) 100%);
    background: -o-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(229,229,229,1) 100%);
    background: -ms-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(229,229,229,1) 100%);
    background: linear-gradient(top, rgba(244,244,244,1) 0%,rgba(229,229,229,1) 100%);
}

div.upcomingMatchItem .versusContainer .dateInfo {
    font-size: 12px;
    color: #999;
}

div.team-dot,
div.team-dot.team-red {
    background-color: darkred;
    border-radius: 15px 15px 15px 15px;
    height: 30px;
    left: 13px;
    position: absolute;
    top: 36px;
    width: 30px;
}
div.team-dot.team-yellow {
    left: auto;
    right: 13px;
    background-color: #F2EC3E;
}
/* /MATCHMAKING - OVERVIEW */

/* MATCHMAKING - MATCHMAKER */
div#mm-setup-rdy #score-center {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #CCCCCC;
    height: 228px;
    left: 305px;
    opacity: 0.96;
    padding-top: 25px;
    position: absolute;
    top: 126px;
    width: 320px;
}
div#mm-setup-rdy #score-center #current-match-ops {
    margin-top: 20px;
}
div#mm-setup-rdy #score-center #scoreboard {
    margin: 0 auto;
    width: 226px;
}
div#mm-setup-rdy #score-center #scoreboard #range-yellow {
    right: -30px;
}
div#mm-chosen-player-msg {
    font-size: 12px;
    color: #777;
    margin-top: -10px;
}
div#mm-choose-player {
    padding-bottom: 1px;
    max-height: 178px;
}
.team-spot-player div.tsp-addon {
    font-weight: bold;
    padding: 10px;
    text-align: center;
    width: 55px;
    box-shadow: -2px 0 6px 1px #CCCCCC;
    position: absolute;
}
.team-container.team-red .tsp-addon {
    background: rgb(169,3,41);
    background: -moz-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1)));
    background: -webkit-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
    background: -o-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
    background: -ms-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
    background: linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);

    border-radius: 0 17px 17px 0;
    color: #FFFFFF;
    right: -75px;
}
.team-container.team-yellow .tsp-addon {
    background: rgb(237,209,30);
    background: -moz-linear-gradient(top, rgba(237,209,30,1) 0%, rgba(244,175,0,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,209,30,1)), color-stop(100%,rgba(244,175,0,1)));
    background: -webkit-linear-gradient(top, rgba(237,209,30,1) 0%,rgba(244,175,0,1) 100%);
    background: -o-linear-gradient(top, rgba(237,209,30,1) 0%,rgba(244,175,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(237,209,30,1) 0%,rgba(244,175,0,1) 100%);
    background: linear-gradient(top, rgba(237,209,30,1) 0%,rgba(244,175,0,1) 100%);

    border-radius: 17px 0 0 17px;
    color: #222;
    left: -75px;
}

.team-spot-player div.tsp-addon div.tsp-addon-streak {
    background: none repeat scroll 0 0 #222222;
    border-radius: 4px 4px 4px 4px;
    color: #EEEEEE;
    font-size: 24px;
    margin: 3px;
    padding: 5px;
    text-align: center;
}
.team-container.team-red .team-spot-player div.tsp-main {
    box-shadow: -1px 0 6px 1px #CCCCCC;
}
.team-container.team-yellow .team-spot-player div.tsp-main {
    box-shadow: 1px 0 6px 1px #CCCCCC;
}
.team-spot-player div.tsp-player-name {
    background: #eee;
    border: 1px solid #CCCCCC;
    margin-top: -3px;
    padding: 4px 5px;
    font-weight: bold;
    text-align: center;
}

#matchmaking .team-container.team-red .container .card .face.front {
    padding: 45px 35px;
}
#matchmaking .team-container.team-yellow .container .card .face.front {
    padding: 45px 0px;
}

button.delete-cm {
    min-width: 35px;
}

/* SCROLLBARS */
#matchmaking #available-player-pool .lb-content {
    padding-bottom: 1px;
}
.lb-clear {
    clear: both;
}
.lb-wrap {
    z-index: 0;
    overflow: auto;
    position: relative;
}
.lb-v-scrollbar {
    z-index: 1;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 7px;
    height: 100%;
    background: #cfcfcf;
    opacity: 0.3;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.lb-h-scrollbar {
    z-index: 1;
    position: absolute;
    bottom: 2px;
    left: 2px;
    width: 100%;
    height: 7px;
    background: #cfcfcf;
    opacity: 0.3;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.lb-v-scrollbar-slider {
    position: absolute;
    width: 7px;
    height: 50px;
    left: 0;
    top: 0;
    background: #000;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.lb-h-scrollbar-slider {
    position: absolute;
    height: 7px;
    width: 50px;
    left: 0;
    top: 0;
    background: #000;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
/* /SCROLLBARS */

/* /MATCHMAKING - MATCHMAKER */