label {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

table {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #282828;
    margin-bottom: 16px;
    padding: 5px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

tr {
    border-bottom: 1px solid #DDDDDD;
    background-color: #f6f6f6;
}

thead,th {
    /*background:  none repeat scroll 0 0 #EEEEEE;
    */
    font-weight: bold;
    text-align: left;
}

thead tr {
    /** @see http://www.colorzilla.com/gradient-editor/ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(246,246,246,1)), color-stop(100%, rgba(232,232,232,1)));

    background: -webkit-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(232,232,232,1) 100%);
    background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(232,232,232,1) 100%);
    background: -o-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(232,232,232,1) 100%);
    background: -ms-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(232,232,232,1) 100%);
    background: linear-gradient(top, rgba(246,246,246,1) 0%, rgba(232,232,232,1) 100%); /* W3C */
}

td,th {
    border-right: 1px solid #DDDDDD;
    padding: 10px;
}

.clearfix {
    clear: both;
}

.pageHeader {
    border-bottom: 2px dashed #ccc;
    padding-bottom: 5px;
    font-size: 25px;
    margin-bottom: 20px;
}

.playerImg {
    border: 1px solid #ccc;
    padding: 1px;
}

.pgStatus {
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
}

.pgStatus.middle {
    width: 15px;
    height: 15px;
}

.pgStatus.checkedIn {
    background-color: #00ba1f;
}

.pgStatus.checkedOut {
    background-color: #ca0000;
}

.tileDiv {
    text-align: center;
    margin-bottom: 25px;
}

.statisticTable {
    width: 140px;
    float: left;
    margin-right: 5px;
}
.statisticTable tr th {
    text-align: center;
}
.statisticTable tr td {
    font-size: 40px;
    padding: 0 10px;
    text-align: center;
}

span.position {
    background-color: red;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 5px;
    margin: 2px 5px;
}

span.position.teamRed {
    background-color: #BD0010;
}

span.position.teamYellow {
    background-color: yellow;
    color: #3C3E45;
}

.score {
    font-size: 45px;
}

.avatar {
    border: 1px solid #ccc;
    padding: 1px;
}
.avatar.small {
    width: 21px;
    height: 24px;
}
.avatar.sm {
    width: 50px;
    height: 58px;
}
.avatar.medium {
    width: 55px;
    height: 65px;
}
.avatar.big {
    width: 95px;
    height: 110px;
}

/* THEME */
.redHeader {
    background: -moz-linear-gradient(center top , #D42A31, #AD2328) repeat scroll 0 0 #C1272D;
    border: 1px solid #C1272D;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 1px #444444;
}

.noteNumb {
    background: #aaa;
    border-radius: 3px;
    padding: 4px 9px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}
.noteNumb.small {
    padding: 2px 4px;
    font-size: 10px;
}
.noteNumb.checkedIn,
.noteNumb.new {
    background: #8F0222;
}

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #c09853;
}
.alert-heading {
    color: inherit;
    font-weight: bold;
}
.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}
.alert-danger,
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}
.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
}
.alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
    margin-bottom: 0;
}
.alert-block p + p {
    margin-top: 5px;
}